
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  min-height: 100vh;
  background-color: rgba(217, 171, 20, 0.952);

}

.navi {
    height: 60px;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.952);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#navipara{

    background: linear-gradient(90deg, #ffffff, #fffdfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: bold;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#history{

      color: #f8d703;

      font-weight: bolder;
      text-shadow: 0 0 5px rgb(255, 239, 11), 0 0 15px rgb(253, 214, 18), 0 0 25px rgb(249, 218, 17);
    }

.list ul {
    display: flex;
    gap: 20px;
}

.header{
  height: 100px;
  width: 60%;
  background-color:  rgba(190, 190,190,0.25);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(224,224,224,0.25);
  padding: 18px;
  text-align: center;
  margin-left: 280px;
  margin-top: 50px;
}

.timeline-section{
  min-height: 100vh;
  padding: 100px 15px;

}

.timeline-items{
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}

.timeline-items::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: white;
  left: calc(50% - 1px);
}

.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;

}
.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom:0;
}
.timeline-item:nth-child(odd){
   padding-right: calc(50% + 30px);
   text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}

.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: #ef34d9;
  position: absolute;
  left:calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date{
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;

}

.timeline-content{
  background-color:  rgba(190, 190,190,0.25);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(224,224,224,0.25);
  padding: 30px;
  border-radius: 1rem;
  curser:pointer;
  transition: 0.3s ease;
}

.timeline-content:hover{
  transform: scale(1.05);
}

.timeline-content h3{
font-size: 20px;
color: white;
margin: 0 0 10px;
text-transform: capitalize;
font-weight: 500;
}

.timeline-content p{
  color: white;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

@media(max-width: 767px){
  .timeline-items::before{
    left:7px;
  }
  .timeline-items.timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),.timeline-item:nth-child(even){
    padding-left: 37px;
  }
  .timeline-dot{
    left: 0;
  }
}

footer  {
    height: 100px;
    background-color: black;   /* Dark background */
    color: white;     
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;       /* White text */
    text-align: center;       /* Center the text */
    padding: 15px 0;          /* Top & bottom padding */
    width: 100%;              /* Full width */
    position: relative;       /* So it stays below content */
    bottom: 0;
}
